# Ignore all swap files
*.sw*

# Ignore data, results directories
data/*
results/*

# Within the scripts directory, ignore rois, logfiles, and __pycache__ 
scripts/rois/*
scripts/logfiles/*
scripts/__pycache__/
